{
  "image_name": "",
  "ar_registry": "",
  "ar_repository": "",
  "service_name": "",
  "region": "",
  "project": "",
  "concurrency": "",
  "env_variables": {
     "HAMMERGEN_CAPTCHA_SECRET": "",
     "HAMMERGEN_EMAIL_PRIVATE_API_KEY": "",
     "HAMMERGEN_EMAIL_PUBLIC_API_KEY": "",
     "HAMMERGEN_MONGODB_NAME": "",
     "HAMMERGEN_MONGODB_URI": "",
     "HAMMERGEN_JWT_HMAC_SECRET": "",
     "HAMMERGEN_USERSERVICE_FRONT_END_URL": "",
     "GIN_MODE": "",
     "HAMMERGEN_LOGGING_GCP_PROJECT_ID": ""
  }
}