@import "tailwindcss";

@font-face {
  font-family: "hammergen";
  src: url("/CaslonAntique-Bold.ttf");
}

@layer components {
  .btn {
    @apply rounded active:outline-2 outline-neutral-400 select-none font-medium px-3 py-2 bg-neutral-600 hover:bg-neutral-800 text-neutral-100;
  }

  .btn-primary {
    @apply bg-neutral-600 hover:bg-neutral-800 text-neutral-100;
  }

  .btn-secondary {
    @apply bg-amber-300 hover:bg-amber-400 text-neutral-700;
  }

  .btn-danger {
    @apply bg-red-600 hover:bg-red-800 text-neutral-100;
  }

  .btn-sm {
    @apply p-2 text-sm;
  }
}

@theme {
  --font-hammergen: "Hammergen", serif;
}
